<% layout("/layouts/boilerplate") %>
    <h3>Edit listing!</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="row mt-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              name="listing[title]"
              type="text"
              value="<%=listing.title%>"
              class="form-control"
              required
            />
            <div class="valid-feedback">Title is Awesome</div>
         </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label"   required>description</label>
            <textarea
             name="listing[description]"
              class="form-control"><%=listing.description%></textarea
            >
            <div class="invalid-feedback">Please enter a short description></div>
          </div>
          
          <div class="mb-3">
            <img src="<%= originalImageUrl %>" width="250" height="160">
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input
              name="image"
              class="form-control"
              type="file"
            />
          </div>
           <div class="mb-3">
             <label for="price" class="form-label">Price</label>
             <input
              name="listing[price]"
              class="form-control"
              value="<%=listing.price%>"
             />
             <div class="invalid-feedback">
              Please enter a valid price
            </div><br>
           <div class="mb-3">
             <label for="country" class="form-label">Country</label>
             <input
               type="text"
               name="listing[country]"
               value="<%=listing.country%>"
               required
              />
              <div class="invalid-feedback">
                Country name should be valid
              </div>
           </div>

          <div class="mb-3">
            <label for="location" class="form-location">location</label>
            <input
              type="text"
              class="form-control"
              name="listing[location]"
              value="<%=listing.location%>"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid location
            </div>
          </div>

        

          <button class="btn btn-primary edit-btn mt-3">Edit</button>
     </div>
  </div>
</form>
